.card{
    display: flex;
    justify-content: space-between;    
    background-color: black;
    font-size: 20px;
    padding: 10px;
    color: white;
}

.cardtitle{
    background-color: rgb(174, 174, 174);
    border-radius: 10px; 

}