.App {
	font-family: sans-serif;
	text-align: center;
	color: black;
  }

.UserSection {
	display: flex;
	justify-content: space-evenly;
	margin-top: 20px;
	margin-bottom: 20px;
}

.CounterSection {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 8vh;
	font-size: 20px;
	border: 2px solid black;
	padding: 4px;
	background-color:black;
}

.btn-section {
	display: flex;
	width: 200px;
	justify-content: space-around;
	padding-top: 10px;
}

.btn {
	background-color: rgb(206, 58, 58);
	color: black;
	font-size: 14px;
	font-weight: bold;
	padding: 10px;
	border-radius: 12px;
	margin: 2px;
	/* border: 2px solid white; */
}



